<section class="bg-surface mt-12 md:mt-24">
  <div class="container mx-auto px-4 py-8 md:py-12 text-center">
    <h2 class="text-2xl md:text-3xl font-bold uppercase" data-aos="fade-down">
      El gran día
    </h2>
    <h3 class="text-lg md:text-xl mb-4 md:mb-6" data-aos="fade-down">
      DICIEMBRE
    </h3>

    <div class="max-w-md mx-auto" data-aos="zoom-in" data-aos-delay="200">
      <!-- Días de la semana -->
      <div class="grid grid-cols-7 gap-1 md:gap-2 mb-2 text-base md:text-lg">
        <div class="font-bold">D</div>
        <div class="font-bold">L</div>
        <div class="font-bold">M</div>
        <div class="font-bold">M</div>
        <div class="font-bold">J</div>
        <div class="font-bold">V</div>
        <div class="font-bold">S</div>
      </div>

      <!-- Días del mes -->
      <div
        class="grid grid-cols-7 gap-1 md:gap-2 text-base md:text-lg font-medium"
      >
        <div></div>
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>

        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
        <div>11</div>
        <div>12</div>
        <div>13</div>

        <div>14</div>
        <div>15</div>
        <div>16</div>
        <div>17</div>
        <div>18</div>
        <div>19</div>
        <div class="relative">
          <img
            src="/icons/heart.webp"
            alt=""
            class="absolute -top-2 inset-0 w-[calc(100%+1.2rem)] h-[calc(100%+1.2rem)] object-contain"
          />
          <span class="relative z-10">20</span>
        </div>

        <div>21</div>
        <div>22</div>
        <div>23</div>
        <div>24</div>
        <div>25</div>
        <div>26</div>
        <div>27</div>

        <div>28</div>
        <div>29</div>
        <div>30</div>
        <div>31</div>
      </div>
    </div>
  </div>
</section>
