<section class="text-center px-24 container mx-auto my-20 bg-white">
  <p class="text-lg leading-7 mb-4">
    Guiados por el amor y la fe, Dios nos ha permitido encontrarnos. <span
      class="block"
      >Con su bendición y la de nuestros padres, uniremos nuestras vidas para
      siempre.</span
    >
  </p>
  <h2 class="text-3xl font-bold mb-4 mt-6">PADRES DE LA NOVIA</h2>
  <p class="text-lg">Adriano Vega Perales</p>
  <p class="text-lg mb-8">Margarita Racchumi De Los Santos</p>

  <h2 class="text-3xl font-bold mb-4 mt-6">PADRES DEL NOVIO</h2>
  <p class="text-lg">Adriano Vega Perales</p>
  <p class="text-lg mb-8">Margarita Racchumi De Los Santos</p>

  <p class="my-12">
    Te invitamos a ser parte de este capítulo tan especial <span class="block">
      en nuestra historia.</span
    >
  </p>
</section>
