<section
  class="text-center px-4 sm:px-8 md:px-16 lg:px-24 container mx-auto my-12 md:my-20 bg-white"
>
  <p
    class="text-base md:text-lg leading-6 md:leading-7 mb-4"
    data-aos="fade-up"
  >
    Guiados por el amor y la fe, Dios nos ha permitido encontrarnos. <span
      class="block"
      >Con su bendición y la de nuestros padres, uniremos nuestras vidas para
      siempre.</span
    >
  </p>
  <h2
    class="text-xl md:text-2xl font-bold mb-3 md:mb-4 mt-6"
    data-aos="fade-up"
    data-aos-delay="100"
  >
    PADRES DE LA NOVIA
  </h2>
  <p class="text-base md:text-lg" data-aos="fade-up" data-aos-delay="150">
    Adriano Vega Perales
  </p>
  <p
    class="text-base md:text-lg mb-6 md:mb-8"
    data-aos="fade-up"
    data-aos-delay="200"
  >
    Margarita Racchumi De Los Santos
  </p>

  <h2
    class="text-xl md:text-2xl font-bold mb-3 md:mb-4 mt-6"
    data-aos="fade-up"
    data-aos-delay="250"
  >
    PADRES DEL NOVIO
  </h2>
  <p class="text-base md:text-lg" data-aos="fade-up" data-aos-delay="300">
    José T. Morales León
  </p>
  <p
    class="text-base md:text-lg mb-6 md:mb-8"
    data-aos="fade-up"
    data-aos-delay="350"
  >
    Mercedes S. Reyes Peña
  </p>

  <p
    class="my-8 md:my-12 text-base md:text-lg"
    data-aos="fade-up"
    data-aos-delay="400"
  >
    Te invitamos a ser parte de este capítulo tan especial <span class="block">
      en nuestra historia.</span
    >
  </p>
</section>
