---
const itinerary = [
  {
    title: "Ceremonia",
    time: "07:00 P.M.",
    icon: "/icons/church.webp",
  },
  {
    title: "Boda Civil",
    time: "08:30 P.M.",
    icon: "/icons/rings.webp",
  },
  {
    title: "Recepción",
    time: "09:30 P.M.",
    icon: "/icons/glass.webp",
  },
  {
    title: "Cena",
    time: "10:00 P.M.",
    icon: "/icons/cutlery.webp",
  },
  {
    title: "Todo mundo a bailar",
    time: "10:30 P.M.",
    icon: "/icons/heels.webp",
  },
  {
    title: "Fin del evento",
    time: "05:00 A.M.",
    icon: "/icons/wedding-car.webp",
  },
];
---

<section
  class="my-12 md:my-24 container mx-auto flex flex-col items-center px-4"
>
  <h2
    class="text-2xl md:text-3xl font-semibold text-center"
    data-aos="fade-down"
  >
    ITINERARIO
  </h2>
  <div class="space-y-3 md:space-y-4 mt-4 md:mt-6 w-fit mx-auto">
    {
      itinerary.map((item, index) => (
        <div
          class="flex items-center gap-4 md:gap-8 lg:gap-12"
          data-aos="fade-right"
          data-aos-delay={index * 100}
        >
          <img
            src={item.icon}
            alt={item.title}
            class="w-14 md:w-16 lg:w-20 h-auto shrink-0"
          />
          <div>
            <p class="text-gray-600 font-semibold text-sm md:text-base">
              {item.time}
            </p>
            <h3 class="text-base md:text-lg uppercase max-w-40">
              {item.title}
            </h3>
          </div>
        </div>
      ))
    }
  </div>
</section>
