---
import Image from "astro/components/Image.astro";
---

<section class="border-b-2 border-gray-400 pb-8 md:pb-12 mb-8 md:mb-12">
  <div class="parallax-container overflow-hidden">
    <Image
      src="/images/novios-2.webp"
      alt="Foto de Christian y Karen"
      class="w-full h-[50vh] md:h-[70vh] lg:h-[90vh] object-cover object-center mb-6 parallax-image"
      width="1920"
      height="1080"
      loading="lazy"
    />
  </div>
  <div class="container mx-auto my-8 md:my-12 px-4">
    <div
      class="flex flex-col md:flex-row gap-8 md:gap-16 lg:gap-24 justify-center"
    >
      <div
        class="flex flex-col items-center text-center gap-2"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img
          src="/icons/church.webp"
          alt="Ceremonia"
          class="w-24 md:w-32 h-auto"
        />
        <h3 class="font-semibold text-lg md:text-xl">CEREMONIA</h3>
        <p class="max-w-xs mx-auto text-sm md:text-base">
          07:00 P.M. <br />
          IGLESIA SANTA LUCÍA<br />
          FERREÑAFE
        </p>
        <button
          class="rounded-md bg-primary text-white px-4 py-2 text-sm md:text-base"
          >VER MAPA</button
        >
      </div>
      <div
        class="flex flex-col items-center text-center gap-2"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <img
          src="/icons/glass.webp"
          alt="Recepción"
          class="w-24 md:w-32 h-auto"
        />
        <h3 class="font-semibold text-lg md:text-xl">RECEPCIÓN</h3>
        <p class="max-w-xs mx-auto mb-6 text-sm md:text-base">
          09:30 P.M. <br />
          FUNDO HERNANDITO<br />
        </p>
        <button
          class="rounded-md bg-primary text-white px-4 py-2 text-sm md:text-base"
          >VER MAPA</button
        >
      </div>
    </div>
  </div>
</section>
