@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--primary-font);
  --color-surface: var(--surface);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.307 0.0056 236.7);
  --primary-font: "Montserrat", sans-serif;
  --primary: oklch(0.7568 0.0836 118.96); /* #AAB87B */
  --primary-foreground: oklch(0.985 0 0);
  --surface: oklch(0.9791 0 0); /* #F8F8F8 */
  --accent: oklch(0.3152 0.0686 161.14); /* 023C26 */
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.577 0.245 27.325);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }
  button {
    cursor: pointer;
  }
}
